# Location where to download temporary files
 directory = /home/zdrive/Torrents/Downloads

# Folder to save & resume rtorrent sessions
 session = /home/zdrive/Torrents/Downloads

# Other Settings
 upload_rate = 30
# download_rate = 200

# DHT options
 dht = auto

# rtorrent_Watch is a folder for new torrents
 schedule = watch_directory,0,10,load.start=/home/zdrive/Torrents/*.torrent
 schedule = tied_directory,10,10,start_tied=
 schedule = untied_directory,10,10,close_untied=

# Enable the default ratio group
 ratio.enable=

# Modify the limits, the defaults is optimal.
 ratio.min.set=50
 ratio.max.set=150
 ratio.upload.set=20M

# Transfer the finished torrents to rtorrent_FullDownload_Files folder
method.insert = d.data_path, simple, "if=(d.is_multi_file), (cat,(d.directory),/), (cat,(d.directory),/,(d.name))"
method.insert = d.move_to_complete, simple, "d.directory.set=$argument.1=; execute=mkdir,-p,$argument.1=; execute=mv,-u,$argument.0=,$argument.1=; d.save_full_session="
method.set_key = event.download.finished,move_complete,"d.move_to_complete=$d.data_path=,/home/zdrive/Videos/New"
